<%# # Then I should see a list of the 10 closest stations within 6 miles sorted by distance
# And the stations should be limited to Electric and Propane
# And for each of the stations I should see Name, Address, Fuel Types, Distance, and Access Times %>

<% @stations.each do |station| %>
<div class="station">
  <ul class="name">
    <li><strong><%= station.name %></strong></li>
    <ul>
      <li class="address"><%= station.address %></li>
      <li class="fuel_types"><%= station.fuel_types %></li>
      <li class="distance"><%= station.distance %> miles</li>
      <li class="access_times"><%= station.access_times %></li>
    </ul>
  </ul>
</div>
<% end %>