<% @stations.each do |station| %>
<div class="station">
  <ul class="name">
    <li><strong><%= station.name %></strong></li>
    <ul>
      <li class="address"><%= station.address %></li>
      <li class="fuel_types"><%= station.fuel_types %></li>
      <li class="distance"><%= station.distance %> miles</li>
      <li class="access_times"><%= station.access_times %></li>
    </ul>
  </ul>
</div>
<% end %>